@media (min-width: 992px) {

	.intro {
	padding-left:100px;
	padding-right: 100px;
}

    .vdown {
        margin-top:38px;
    }
    .vdown-notitle {
        margin-top:70px;
    }
}

@media (max-width: 992px) {
    .navbar-shift {
    	margin-left:32px;
    }
}


.sa {
	background-color: rgba(31,120,180,0.3);
}

.cs {
	background-color: rgba(178,223,138,0.3);
}

.sq {
	background-color: rgba(251,154,153,0.3);
}

.cr {
	background-color: rgba(253,191,111,0.3);
}

.jb {
	background-color: rgba(202,178,214,0.3);
}

.cm {
	background-color: rgba(51,160,44,0.3);
}

table {
	font-size: 9pt;
}

table td {
	color: #666;
	-webkit-font-smoothing: antialiased;
}

p {
	font-family: Georgia;
	-webkit-font-smoothing: antialiased;
}

body {
  min-height: 2000px;
  padding-top: 70px;
}